<section>
    <h1 class="text-center text-4xl font-semibold mb-2">
        Hero Manager
    </h1>
    <p class="text-center text-secondary">
        Sistema de gestión de superhéroes con funcionalidades CRUD completas
    </p>
    <p-card >
        <app-hero-table [paginatedHeroes]="heroRx.error() ? initialValue : heroRx.value()"
                        [error]="heroRx.error()"
                        [isLoading]="heroRx.isLoading()"
                        [perPage]="heroFilters().perPage"
                        (changePage)="updatePage($event)"
                        (nameFilterChange)="filterByName($event)"
                        />
    </p-card>
</section>
