/* You can add global styles to this file, and also import other style files */
@use "primeflex/primeflex.scss";
@use 'primeicons/primeicons.css';

:root {
    --bg-color: rgb(238 239 240);
}

body {
    background-color: var(--bg-color);
    font-family: 'Inter', sans-serif;
}

.form-field-container {
    height: 4.25rem;
}

.form-error {
    color: var(--p-form-field-invalid-placeholder-color);
}